$red: #F11712;
$blue: #0099F7;

$primary-color: $red;
$secondary-color: $blue;

$primary-font: Arial;

@import 'animations';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $secondary-color; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, $secondary-color , $primary-color); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, $secondary-color , $primary-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  h1 {
    width: 860px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    font-size: 3em;

    span {
      display: inline-block;
      opacity: 0;
      margin: 0 20px;    color: $secondary-color;

      animation: text-slide-down 200ms ease-out forwards;

      &.first {
        color: $primary-color;
      }
    }
  }
}

body {
  margin: 0;
  background-color: $secondary-color;
  font-family: $primary-font, sans-serif;
}

